.header {
	text-align: center;
}

#profile-picture {
    width: 100px; // These are your circle dimensions
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center center; // Center image in the circle
    background-size: cover;
    position: relative;
    z-index: 5;
    top: 20px;
}
div > img {
	display: block;	
	margin-left: auto;
	margin-right: auto;}

.jumbotron {
    background-image: url(./chicago-cityscape.jpg);
    background-size: cover;
    height: 100%;
    margin-bottom: 0;
    padding: 0px 70px 0 70px;
    position: relative;

}

.content-wrapper {
	position: absolute;
    top: 140;
    bottom: 30;
    left: 30;
    right: 30;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 25px;

}

.tab-container {
	top: 175;
	margin: 20;
}

.tab-content {
    position: absolute;
    top: 40;
    bottom: 5;
    left: 5;
    right: 5;
    overflow-y: auto;
}


div.aboutme-container p {
	font-size: 16px;
    margin: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

div.hackbright-container p {
	font-size: 16px;
	margin: 30px;
}


div.projects {
	margin-top: 50px;
	text-align: center;
}

div .project-wrapper {
	display: inline-block;
	width: 375px;
	height: 300px;
	text-align: center;
    padding: 10px;
}

.projects img {
	height: 150px;
	width: 270px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

.project-description p {
	font-size: 13px;
}

div .hackbright-container #hackbright-photos {
    margin: auto;
    text-align: center;
}

div #hackbright-photos img {
    width: 220px;
    margin: 0px;
    display: inline-block;
}

div#contact a img {
	width: 60px;
    height: 60px;
}

footer {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
}

#footer {
    font-size: 12px;
    bottom: 0;
	
}